* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    position: relative;
    height: 200vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: bisque;
}

.titlebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aqua;
    position: relative;
    width: 100%;
    border: 4px black solid;
    height: fit-content;

}

.titlebar .logo {
    display: flex;
    position: relative;
    background-color: beige;
    /* height: 100%; */
    width: 75px ;
    height: 75px;
    position: relative;
    content:url(http://placehold.it/100x100);
    padding: 5px;
    
}
.titlebar .titlecont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: green;
    width:calc(100% - 75px);
    height: 100%;
    min-height: fit-content;
    border: red 4px solid;
}
.titlebar .site-name {
    display: flex;
    background-color: brown;
    width: 40%;
    
}
.titlebar .platformlist{
    display: flex;
    width: 60%;
    min-width: max-content;
    border: 1px yellow dashed;
    background-color: white;
}
.titlebar .platformlist ul{
    display: flex;
    background-color: green;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.titlebar li{
    background-color: beige;
}

.ribbon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: blue;
    align-items:top;
    justify-content: end;
    

}
.ribbon .search{
    display: flex;
    background-color: azure;
    width:100%;
    justify-content: end;
}
.ribbon .searchbox{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    background-color: gray;
    flex-direction: row;
    /* justify-self: center;
    align-items: end; */
    right: 350px;
    width: 100%;
    align-items: center;
    justify-content: end;
       
}
.ribbon .searchform input{
    /* display: flex; */
    background-color: orange;
}

.ribbon .searchform label{
    /* display: flex; */
    background-color: pink;
}
.ribbon .searchform button{
    position: relative;
    content: url(favicon.png);
    width: 30px;
    height: 30px;
}
.ribbon .searchresults{
    display: flex;
    position: absolute;
    opacity: 0.5;
    flex-direction: column;
    height: fit-content;
    width: calc(fit-content + 5px );
    border-radius: 0px 0px 0px  15px;
    background-color: burlywood;
    z-index: 2;
}
.ribbon .resultcontainer{
    display: flex;
    border: 1px brown dotted;
    height: 60px;
    width: 330px;
    border-radius: 15px;
    margin: 10px;
    background-color: orange;
}
.content .imdb .imdbcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content .imdb .imdbcontainer .imdbcont{
    height: 150px;
    width: 100px;
    background-color: aqua;
    margin: 10px;
}